<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/efaia.png">
         <run
               class="efaia.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="efaia.perspective.Perspective"
            id="eFaia.perspective"
            name="Perspective">
      </perspective>
   </extension>
<extension
         point="org.eclipse.ui.views">
      <view
            class="efaia.view.FilesView"
            icon="icons/bulleted_list.png"
            id="eFaia.view.FilesView"
            name="Archivos"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="efaia.view.TreeView"
            icon="icons/search_tree.png"
            id="eFaia.view.TreeView"
            name="TreeView"
            restorable="true">
      </view>
      <view
            class="efaia.view.ASView"
            icon="icons/informacion-icono-8807-16.png"
            id="eFaia.view.ASView"
            name="Estado Agente"
            restorable="true">
      </view>
      <view
            class="efaia.view.ESView"
            id="eFaia.view.ESView"
            name="Estado Ambiente"
            restorable="true">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="eFaia.OpenDirectory"
                  icon="icons/abrir-el-archivo-icono-7135-16.png"
                  label="Open Directory..."
                  style="push">
            </command>
            <command
                  commandId="eFaia.OpenFile"
                  icon="icons/abrir-el-archivo-icono-5656-16.png"
                  label="Open File..."
                  style="push">
            </command>
            <separator
                  name="eFaia.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="eFaia.ExportToJPG"
                  icon="icons/exportacion_16.png"
                  label="ExportToJPG..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="eFaia.toolbar">
            <command
                  commandId="eFaia.ExportToJPG"
                  icon="icons/exportacion_16.png"
                  label="ExportToJPG..."
                  style="push"
                  tooltip="Export the Tree to JPG File">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="efaia.handler.FileOpenHandler"
            id="eFaia.OpenFile"
            name="Open File">
      </command>
      <command
            defaultHandler="efaia.handler.DirectoryOpenHandler"
            id="eFaia.OpenDirectory"
            name="Open Directory">
      </command>
      <command
            defaultHandler="efaia.handler.ExportToJPGHandler"
            id="eFaia.ExportToJPG"
            name="ExportToJPG...">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="eFaia.application"
            name="Deploy Test">
         <property
               name="appName"
               value="Deploy Test">
         </property>
      </product>
   </extension>

</plugin>
